*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar{
  background-color: rgb(4, 4, 34);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.navtitle{
  font-size: 3rem;
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 14rem;
  margin-right: 30rem;
}

.navbar a{
  color: inherit;
  text-decoration: none;
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;

}

.navbar li:active{
  background-color: aqua;
}

.navbar li:hover{
  background-color: rgb(89, 172, 172);

}